* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

@font-face {
  font-family: "Norse Bold";
  src: url(assets/Norse-Bold.otf);
}

.flex {
  display: flex;
}

.image-sidebar {
  height: 100vh;
  width: 40%;
  background-image: url("assets/background.avif");
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}

.title-banner {
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Norse Bold";
  font-size: 5.5rem;
  color: white;
}

.odin-logo {
  height: 100px;
}

a {
  color: white;
}

.image-source {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: white;
  bottom: 10px;
  opacity: 0.8;
}

.call-to-action {
  max-width: 730px;
  padding: 2em;
  font-size: 1.3rem;
  font-weight: bold;
}

label {
  display: flex;
}
